WpfClient/Connected Services/ServiceReferenceHafalup/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserList" nillable="true" type="tns:UserList" />
  <xs:complexType name="User">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="BDay" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Beliver" type="xs:boolean" />
          <xs:element minOccurs="0" name="Child" type="xs:int" />
          <xs:element minOccurs="0" name="Desiese" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Gender" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsManager" type="xs:boolean" />
          <xs:element minOccurs="0" name="Married" type="xs:boolean" />
          <xs:element minOccurs="0" name="MyReligion" nillable="true" type="tns:Religion" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNum" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="BaseEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseEntity" nillable="true" type="tns:BaseEntity" />
  <xs:complexType name="Religion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="ReligionName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Religion" nillable="true" type="tns:Religion" />
  <xs:complexType name="ReligionList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Religion" nillable="true" type="tns:Religion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReligionList" nillable="true" type="tns:ReligionList" />
  <xs:complexType name="Propertise">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="PropCategory" nillable="true" type="tns:Category" />
          <xs:element minOccurs="0" name="PropName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Propertise" nillable="true" type="tns:Propertise" />
  <xs:complexType name="Category">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="CategoryName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Category" nillable="true" type="tns:Category" />
  <xs:complexType name="PropertiseList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Propertise" nillable="true" type="tns:Propertise" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PropertiseList" nillable="true" type="tns:PropertiseList" />
  <xs:complexType name="CategoryList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" nillable="true" type="tns:Category" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryList" nillable="true" type="tns:CategoryList" />
</xs:schema>